<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Reactive Achitecture Category"
            id="uk.ac.ncl.reactivearch.client">
      </category>
      <view
            name="Reactive Achitecture View"
            icon="icons/newrarch.ico"
            category="uk.ac.ncl.reactivearch.client"
            class="uk.ac.ncl.reactivearch.client.views.ReactiveAchitecture"
            id="uk.ac.ncl.reactivearch.client.views.ReactiveAchitecture">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="uk.ac.ncl.reactivearch.client.views.ReactiveAchitecture">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
